body {
    background-color: whitesmoke;
}

.jumbotron {
    background-image: url("https://media.giphy.com/media/3osxYliokw0RKomKcg/giphy.gif");
    background-color: transparent;
    background-size: cover;
    color: white;
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 100px;
}

p.lead {
  font-size: 25px;
  font-family: 'Teko', sans-serif;
  font-weight: 500;
}

#title-input {
    float: left;
    width: 85%;
    margin-right: 0px;
}

#search-btn {
    float: right;
    width: 10%;
    font-size: 15px;
    text-align: center;
    padding: 7px;
    margin-left: 0px;
    font-family: 'Bebas Neue', cursive;
}

.searched-posters {
  max-width: 200px;
  display: inline-block;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
}

.btn-outline-dark {
  font-family:'Teko', sans-serif;
  font-weight: 300;
}

.card-text {
  font-family:'Teko', sans-serif;
  font-weight: 300 ;
}

h2 {
  font-family: 'Bebas Neue', cursive;
}

.carousel-inner > .carousel-item > .active{
  margin: 0 auto; 
}

.watch-next-img {
  max-width: 100px;
  margin: 15px, 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(23, 162, 184);
}
