body {
    background-color:green;
}

.jumbotron {
    background-image: url("https://media.giphy.com/media/3osxYliokw0RKomKcg/giphy.gif");
    background-color: transparent;
    background-size: cover;
    color: white;
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 100px;
}

#subtitle {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
}

#title-input {
    float: left;
    width: 85%;
}

#search-btn {
    float: right;
    width: 10%;
}

.searched-posters {
  max-width: 200px;
  display: inline-block;
}







@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}





.multi-item-carousel{
    .carousel-inner{
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active{
        &.left{
          left:-33%;
        }
        &.right{
          left:33%;
        }
      }
      .next{
        left: 33%;
      }
      .prev{
        left: -33%;
      }
      @media all and (transform-3d), (-webkit-transform-3d) {
        > .item{
          // use your favourite prefixer here
          transition: 500ms ease-in-out left;
          transition: 500ms ease-in-out all;
          backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carousel-control { 
        &.left, &.right{
        background-image: none;
      }
    }
  }
  