body {
    background-color: whitesmoke;
}

.jumbotron {
    background-image: url("https://media.giphy.com/media/3osxYliokw0RKomKcg/giphy.gif");
    background-color: transparent;
    background-size: cover;
    color: white;
}

#title {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    font-size: 100px;
}

p.lead {
  font-size: 25px;
  font-family: 'Teko', sans-serif;
}

#title-input {
    float: left;
    width: 85%;
    margin-right: 0px;
}

#search-btn {
    float: right;
    width: 10%;
    font-size: 15px;
    text-align: center;
    padding: 7px;
    margin-left: 0px;
}

.searched-posters {
  max-width: 200px;
  display: inline-block;
}

/* .card-body {
  width: 500px;
}

.d-block {
  width: 500px;
} */

h2 {
  font-family: 'Bebas Neue', cursive;
}

div.similar-posters{
  width: 100%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

.carousel-slide {
  margin: 0 auto; 
}

div.carousel-item active {
  margin: auto;
}


